body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#tipCalculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 50px;
    border: 4px black solid;
    color: whitesmoke;
    background-color: rgb(48, 47, 47);
    text-align: center;
    border-radius: 20px;
}
#total{
    font-size: largerB;
}
button{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    border-radius: 50%;
    background-color: rgb(105, 104, 104);
    color: white;
    padding: 10px;
    margin: 5px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(61, 61, 61);
}